body {
    background: radial-gradient(
        circle,
        rgb(1,1,1,1) 12.5%,
        rgb(61,9,121,1) 30%,
        rgb(255,0,0,1) 25%,
        rgb(255,0,185,1) 35%,
        rgb(0, 255, 221) 40%,
        rgb(255,175,0,1) 45%,
        rgb(0,181,255,1) 50%,
        rgb(0,14,255,1) 20%
    );
}

.Home {
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Quiz {
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}

.Info {
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    font-family: "Anton", sans-serif;
}

.Media {
    font-size: 3em;
    color: orange;
    font-weight: bold;
    font-style: italic;
    font-family: "Playwrite AT", cursive;
}

.Quizes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3%;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.Programmieren {
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.questions {
    border-style: solid;
    border-color: black;
    background-color: pink;
    padding: 15px;
    text-align: center;
    border-radius: 40px;
}

.Radio {
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}

.Apps {
    font-size: 2em;
    color: Pink;
    font-weight: bold;
    font-style: italic;
    font-family: "Anton", sans-serif;
}
p {
    color: purple;
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
}
