body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.minecraft.net%2Fde-de&psig=AOvVaw2tpZobM7ESrJQXzZKacmoN&ust=1724845449069000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPDW0JWMlYgDFQAAAAAdAAAAABAE");
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}

.nav {
    background-color: red;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
}

.nav a {
    padding: 1%;
}
