.Home {
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Presentation {
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    font-family: "Anton", sans-serif;
}

.Media {
    font-size: 3em;
    color: orange;
    font-weight: bold;
    font-style: italic;
    font-family: "Playwrite AT", cursive;
}

.Radio {
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.Praesentation{
    font-size: 3em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    font-family: "Anton", sans-serif;
}

.PraesentationKarten{
    font-size: 3em;
    color: orange;
    font-weight: bold;
    font-style: italic;
    font-family: "Playwrite AT", cursive;
}
