.Antenne {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Playwrite AT", cursive;
}

.Radio7 {
    text-align: center;
    font-size: 3em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}
