body {
    background-image: "https://th.bing.com/th/id/R.ff7ed568b9a33cdfc7602bcc6f849015?rik=Cw5TGQrSNiDGnQ&riu=http%3a%2f%2fwebneel.com%2fdaily%2fsites%2fdefault%2ffiles%2fimages%2fdaily%2f07-2014%2f5-best-ads-agasalho-hamburguer.jpg&ehk=QjuipE79CuTHajhNguWHJmodwSt5qf%2fQjToS7CYhhzA%3d&risl=&pid=ImgRaw&r=0";
}

.r6 {
    width: 100%;
    height: 16.6%;
}

.c6 {
    width: 16.6%;
    height: 100%;
    position: relative;
    float: left;
}

.Titel {
    text-align: center;
    font-size: 5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Playwrite AT", cursive;
    -webkit-text-stroke-color: pink;
    -webkit-text-stroke-width: 0.125px;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    border: 7px solid orange;
}

img:hover {
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 10px 10px 10px pink;
}

.E-Mail {
    text-align: center;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Pixelify Sans", sans-serif;
}

.Websites {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Websites1 {
    text-align: center;
    font-size: 1.5em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Programmieren {  
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Radio {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Apps {
    text-align: center;
    font-size: 1.5em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Install {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}

.Websites2 {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.Websites3 {
    text-align: center;
    font-size: 1.5em;
    color: pink;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: "Anton", sans-serif;
}

.Websites4 {
    text-align: center;
    font-size: 1.5em;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}
