.Home {
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: orange;
    font-family: "Roboto", sans-serif;
}

.ZIP {
    text-align: center;
    font-size: 3em;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: purple;
    font-family: "Pixelify Sans", sans-serif;
}