.World {
    font-size: 3em;
    color: purple;
    font-weight: bold;
    font-style: italic;
    font-family: "Pixelify Sans", sans-serif;
}

.body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1sPm_wGKiF26bbHU-cVFH5rOMkwDdH6klA&s");
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}
